{% extends "main.html" %}

{% block content %}

<h2>ToDo List App</h2>

<p>Today date is {{today}} </p>

<form action="" method="POST" class="form">
    {% csrf_token %}
    <div class="form__field">
        <input class="input input--text" id="title" type="text" name="title" placeholder="Task Title Here" />
    </div>
    <button type="submit" class="btn btn--lg">ADD</button>
</form>

<div class="layout tasks">
    {% for task in tasks %}
    <div class="column column--2of3">
        {% if task.complete%}
        <h4><s>{{task.title|title}}</s></h4>
        {% else %}
        <h4>{{task.title|title}}</h4>
        {% endif %}
    </div>
    <div class="column column--1of3">
        <button class="btn btn--main"><a class="complete" href="{% url 'complete' task.id %}">Complete</a></button>
        <button class="btn btn--sub--outline"><a class="delete" href="{% url 'delete' task.id %}">Delete</a></button>
    </div>
    {% endfor %}
</div>

{% endblock %}